{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <div><h1>Votre PFE:</h1></div>
    <div>Titre: {{pfe.titrePFE}}</div>
    <div>Nom Etudiant: {{pfe.nomEtudiant}}</div>
    <div>Entreprise: {{pfe.entreprise}}</div>

{% endblock %}
